body {
  background: url(/assets/images/background-image.jpg) no-repeat center center / cover;
}

.heading {
  text-align: center;
  letter-spacing: 5px;
}

.game-container {
  background-color: rgb(185, 208, 231, .5);
  border-radius: 15px;
  border: 4px solid #002169;
  margin: 8rem auto;  
  width: 70%;
}

.game-track {
  font-size: 25px;
  justify-content: center;
}

.memory-game {
    display: grid;
    grid-template-columns: repeat(4, 8rem);
    grid-template-rows: repeat(4, 8rem);
    justify-content: center;
    perspective: 800px;
}

.memory-card {
    margin: 2px;
    position: relative;
    border: 3px solid #002169;
    border-radius: 10px;
}

.front-face, .back-face {
    width: 100%;
    height: 100%;
    position: absolute;
}

