
body {
  background: url(../images/background-image.jpg) no-repeat center center / cover;
}

.heading {
  text-align: center;
  letter-spacing: 5px;
  font-weight: 600;
}

.game-container {
  background-color: rgb(185, 208, 231, .5);
  border-radius: 15px;
  border: 4px solid #002169;
  margin: 8rem auto;  
  width: 60%;
}

.game-track {
  text-align: center;
  margin: 10px;
  display: block;
}

.game-track .button {
  text-decoration: none;
  font-size: 20px;
  color: white;
  background:rgb(255, 102, 204);
  padding: 5px 10px;
  border-radius: 10px;
  cursor: pointer;
}

.button:hover {
  background: #999;
}

/* Board Game Area (code copied from https://kaylaesmith1.github.io/sea-creature-memory-game/ 
and amended */

.memory-game {
    display: grid;
    grid-column: span All;
    grid-template-columns: 20% 20% 20% 20%;
    grid-template-rows: 20% 20% 20% 20%;
    justify-content: center;
    height: 720px;
    margin: auto;
    perspective: 1000px;
}

.memory-card {
    margin: 2px;
    position: relative;
    border: 3px solid #002169;
    border-radius: 10px;
    position: center;
    box-shadow: 1px 1px 0 rgba(0, 0, 0, .3);
    transform: scale(1);
    transform-style: preserve-3d;
    transition: transform .5s;
}

.memory-card:active {
    transform: scale(0.97);
    transition: transform .2s;
}

.front-face, .back-face {
    width: 100%;
    height: 100%;
    position: absolute;
    border-radius: 5px;
    backface-visibility: hidden;
}

.memory-card.flip {
    transform: rotateY(180deg);
  }

  .front-face {
    transform: rotateY(180deg);
  }

  /* How to play rules modal (code taken from https://www.w3schools.com/howto/howto_css_modals.asp) */

  /* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: 15% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 80%; /* Could be more or less, depending on screen size */
}

.rules {
  text-align: center;
  color:rgb(255, 102, 204);
}

/* The Close Button */
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}
